@font-face {
  font-family: Roboto;
  src: url(Comic_CAT.otf);
}

:root {
  --app-height: 100%;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #f8d316;
  overflow: hidden;
  height: 100vh;
  height: var(--app-height);
  width: 100vw;
}

#mount-point {
  overflow: hidden;
  position: relative;
  height: 100%;
}

@keyframes rotationLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
